*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.main{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
     background-color: blue;
     gap: 10px;

}
div{
    background-color: aliceblue;
    padding: 10px;
    margin:1px;
    text-align: center;


}
.one{
    grid-row: 1/4;
}